/********************************************************************
* This file is part of yourCMDB.
*
* Copyright 2013-2015 Michael Batz
*
*
* yourCMDB is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* yourCMDB is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with yourCMDB.  If not, see <http://www.gnu.org/licenses/>.
*
*********************************************************************/

/**
* custom CSS for yourCMDB
* @author Michael Batz <michael@yourcmdb.org>
*/

/**
* header  
*/
div.cmdb-header
{
	margin:		0px;
	background:	#000000;
	color:		#FFFFFF;
}

div.cmdb-header h1
{
	background:     url('../img/logo.png') no-repeat;
	margin:		0px;
	padding-top:    45px;
	padding-bottom: 20px;
	padding-left:   95px;
	font-size:	16pt;
}


/**
* navigation
*/
.cmdb-navigation
{
	background:	#000000;
	color:		#FFFFFF;
	border-radius:	0;
}

.cmdb-navigation ul.dropdown-menu
{
	color:			#FFFFFF;
	background-color:	#000000;
}

/* toggle button  */
.cmdb-navigation .navbar-toggle
{
	border-color:	#FFFFFF;
}

/* toggle button icon  */
.cmdb-navigation .icon-bar
{
	background:	#FFFFFF;
}

/* links  */
.cmdb-navigation ul.nav a
{
	color:			#FF0022;
	background-color:	#000000;
}
.cmdb-navigation ul.nav a:hover
{
	color:			#FF0022;
	background-color:	#222222;
}
