@import "defaults";

//header
$pageheader-bg: #000000;
$pageheader-font-color: #FFFFFF;

//headings
$header-font-color: #333;

// panel (TOC)
$panel-bg: #EEEEEE;
$panel-font-color: #FFFFFF;
$subheader-font-color: #333;
