@import "settings/yourcmdb";
@import "components/asciidoc";
@import "components/awesome-icons";

//page header
#header
{
	background: 	$pageheader-bg;
	color: 		$pageheader-font-color !important;
	max-width:	100%;
	height:		60px;
	position:	fixed;
	top:		0px;
	left:		0px;
	z-index:	1;
}

#header h1
{
	color: 		$pageheader-font-color !important;
	font-size:	16pt;
	font-weight:	normal;
	background:	url('logo_small.png') no-repeat;
	padding-left:	50px;
	padding-top:	10px;
	margin-top:	10px !important;
	margin-bottom:	10px !important;
}

#header .details
{
	display:	none;
}

//toc
#toc
{
	top:		60px !important;
}

//page content
#content
{
	margin-top:	100px;
}


//page footer
#footer
{
	display:	none;
}
