/********************************************************************
* This file is part of yourCMDB.
*
* Copyright 2013-2016 Michael Batz
*
*
* yourCMDB is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* yourCMDB is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with yourCMDB.  If not, see <http://www.gnu.org/licenses/>.
*
*********************************************************************/

/**
* custom CSS for yourCMDB
* @author Michael Batz <michael@yourcmdb.org>
*/

/**
* default values
*/
html,body
{
	height:			100%;

	margin:			0px;
	padding:		0px;
}

h1
{
	font-size:		16pt;
}

h2
{
	font-size:		14pt;
}

a
{
	color:          	#FF0022;
	text-decoration:	none;
}

a span.glyphicon
{
	color:			#000000;
	padding-right:		5px;
}

a:focus, a:hover, a:active
{
	color:			#FF0022;
	text-decoration:	underline;
}

/**
* class for invisible objects
*/
.cmdb-blind
{
	display:		none;
}

/**
* class to disable wrapping
*/
.cmdb-nowrap
{
	white-space:		nowrap;
}

/**
* link lists
*/
ul.cmdb-linklist
{
	list-style-type:	none;
}

/**
* cmdb dashlets
*/
.cmdb-dashlet
{
	background-color:	#EEEEEE;
	border:			#DDDDDD 1px solid;
	border-radius:		10px;
	margin-top:		30px;
}

/**
* Scroller 
*
**/
div.cmdbScroller
{
	display:	none;

	position:	fixed;
	bottom:		30px;
	right:		5px;

	padding-left:	10px;
	padding-right:	10px;
	padding-top:	5px;
	padding-bottom:	5px;

	border:		1pt solid;
	border-radius:	5px;
	
	background:	#212121;
	text-align:	center;
	font-size:	10pt;
	
}

div.cmdbScroller span.glyphicon
{
	color:		#FFFFFF;
}

/**
* clean table
*/
table.cmdb-cleantable
{
	width:			95%;
	margin-left:		auto;
	margin-right:		auto;
}

table.cmdb-cleantable table.cmdb-cleantable tr, table.cmdb-cleantable tr td, table.cmdb-cleantable tr th
{
	border:			none;
}

table.cmdb-cleantable tr th
{
	border-bottom:		#000000 1px solid;
	padding-top:		50px;
}

/**
* table with two cols and same width
*/
table.cmdb-table2cols tr td
{
	width:		50%;
	text-align:	left;
}


/**
* header  
*/
div.cmdb-header
{
	margin:			0px;
	padding:		0px;
	background:		#000000;
	color:			#FFFFFF;
}

div.cmdb-header a
{
	color:			#FFFFFF;
	text-decoration:	none;
}

div.cmdb-header h1
{
	font-size:		16pt;
	color:			#FFFFFF;
	margin:			0px;
	margin-top:		10px;
	margin-bottom:		5px;
	padding:		0px;
	padding-left:		10px;
}

div.cmdb-header h1 img
{
	padding-right:		10px;
}


/**
* navigation
*/
.cmdb-navigation
{
	background:		#000000;
	color:			#FFFFFF;
	border-radius:		0;
	margin:			0px;
}

.cmdb-navigation ul.dropdown-menu
{
	color:			#FFFFFF;
	background-color:	#000000;
}

/* toggle button  */
.cmdb-navigation .navbar-toggle
{
	border-color:		#FFFFFF;
}

/* toggle button icon  */
.cmdb-navigation .icon-bar
{
	background:		#FFFFFF;
}

/* links  */
.cmdb-navigation ul.nav a
{
	color:			#FFFFFF;
	background-color:	#000000;
}
.cmdb-navigation ul.nav a:hover, .cmdb-navigation ul.nav a:focus
{
	color:			#FFFFFF;
	background-color:	#222222;
}

/* gylphicons  */
.cmdb-navigation .glyphicon
{
	color:			#FFFFFF;
}

/**
* navigation - searchbar
*/
.cmdb-navigation .cmdb-searchbar .glyphicon
{
	color:			#AAAAAA;
}

/**
* login window
*/
div#cmdb-loginpanel
{
	margin-top:		50px;
	border-color:		#000000;
}

#cmdb-loginpanel .panel-heading
{
	background-color:	#000000;
	color:			#FFFFFF;
}

div#cmdb-logincontainer
{
	min-height:		100%;
	min-width:		100%;
	overflow:		auto;
	background:		url('../img/login-background.jpg') no-repeat;
	background-size:cover;	
}

/*
* object table
*/
div#cmdb-objecttable
{
	border-color:		#000000;
	border:			1px solid;
	border-radius:		10px;
	margin-top:		30px;
}

div#cmdb-objecttable h2
{
	border-color:		#000000;
	border-bottom:		1px solid;
}

div#cmdb-objecttable-head h1
{
	color:			#FFFFFF;
	background-color:	#000000;
	margin-top:		0px;
	padding:		10px;
	border-radius:		10px 10px 0px 0px;
}

/**
* object view - refobject tab
*/
table.cmdb-reftable tr th
{
    padding-top:    10px;
}

table.cmdb-reftable
{
    margin-bottom:  75px;

}


/**
* content panel
*/
div.cmdb-contentpanel
{
	margin-top:		30px;
}

div.cmdb-contentpanel h2
{
	margin-top:		30px;
	border-color:		#000000;
	border-bottom:		1px solid;
}


/**
* pagination
*/
.cmdb-pagination li a, .cmdb-pagination li a:active
{
	color:			#999999;
}

.cmdb-pagination li a:hover
{
	color:			#FFFFFF;
	background:		#AAAAAA;
}


.cmdb-pagination li.active a, .cmdb-pagination li.active a:hover
{
	color:			#FFFFFF;
	background:		#C9302C;
	border-color:		#AC2925;
}


/*
* typeahead style
*/
.tt-menu .glyphicon
{
	color:			#000000;
	padding-left:		10px;
	padding-right:		5px;
}
